<%= form_with(model: vertical, local: true, class: "space-y-6") do |form| %>
  <% if vertical.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(vertical.errors.count, "error") %> prohibited this vertical from being saved:</h2>
      <ul>
        <% vertical.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div>
      <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 placeholder-gray-200" %>
    </div>

    <div>
      <%= form.label :primary_category, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.select :primary_category, 
                     Vertical::PRIMARY_CATEGORIES,
                     { include_blank: "Select a Category" },
                     class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 placeholder-gray-200" %>
    </div>

    <div>
      <%= form.label :secondary_category, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :secondary_category, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Optional subcategory for more specificity</p>
    </div>

    <div class="sm:col-span-2">
      <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_area :description, rows: 4, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
  </div>

  <div class="flex justify-end gap-x-3">
    <%= link_to "Cancel", verticals_path, class: "btn btn-white dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:hover:bg-gray-600" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
