<nav class="top-nav lg:py-2 dark:bg-gray-900" data-controller="toggle">
  <section class="logo block lg:hidden">
    <%= link_to root_path do %>
      <%= image_tag "swayed_leads_dark.png", class: "h-6 w-auto" %>
      <span class="sr-only"><%= Jumpstart.config.application_name %></span>
    <% end %>
  </section>
  
  <section class="hidden lg:flex" data-toggle-target="toggleable">
    <nav><%= render "left_nav" %></nav>
    <nav><%= render "right_nav" %></nav>
  </section>

  <section class="nav-user-controls">
    <% if user_signed_in? %>
      <%= render "dev_menu" if Rails.env.development? %>
      <%= render "notifications" %>
      <%= render "user_menu" %>
    <% end %>
  </section>
</nav>
